#header {
  background: linear-gradient(-135deg, rgb(224, 5, 42), rgb(4, 4, 78));
  color: white;
  height: 70px;
}

.dropdown-menu {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-item:hover {
  background: linear-gradient(135deg, cyan, blue);
  color: white;
}

.dropdown .dropdown-menu {
  border-bottom: 15px solid cyan;
  border-top: 15px solid blue;
}

.user {
  background: #fbfbfb;
  border-radius: 30px;
  border-bottom: 8px solid cyan;
  border-top: 8px solid blue;
}

/* Default meter styling */
meter {
  width: 100%;
  height: 20px; /* Adjust height */
  border: 1px solid #ddd; /* Optional border */
  border-radius: 5px; /* Rounded corners */
}

/* Green meter for category_strength 1 to 4 */
.green-meter::-webkit-meter-bar {
  background-color: #e0f7e4; /* Light green background */
}

.green-meter::-webkit-meter-optimum-value {
  background-color: #28a745; /* Green value bar */
}

.green-meter::-webkit-meter-suboptimum-value {
  background-color: #28a745; /* Same green for suboptimum */
}

.green-meter::-webkit-meter-even-less-good-value {
  background-color: #28a745; /* Same green for less good value */
}

/* Yellow meter for category_strength 5 to 7 */
.yellow-meter::-webkit-meter-bar {
  background-color: #fff7e0; /* Light yellow background */
}

.yellow-meter::-webkit-meter-suboptimum-value {
  background-color: #ffc107; /* Yellow value bar */
}

.yellow-meter::-webkit-meter-optimum-value {
  background-color: #ffc107; /* Yellow value */
}

/* Red meter for category_strength 8 to 10 */
.red-meter::-webkit-meter-bar {
  background-color: #f7e0e0; /* Light red background */
}

.red-meter::-webkit-meter-suboptimum-value {
  background-color: #dc3545; /* Red value bar */
}

.red-meter::-webkit-meter-optimum-value {
  background-color: #dc3545; /* Red value */
}

/* For Firefox support */
meter::-moz-meter-bar {
  background-color: #ddd; /* Default bar */
}

.green-meter::-moz-meter-optimum {
  background-color: #28a745; /* Green in Firefox */
}

.yellow-meter::-moz-meter-sub-optimum {
  background-color: #ffc107; /* Yellow in Firefox */
}

.red-meter::-moz-meter-sub-sub-optimum {
  background-color: #dc3545; /* Red in Firefox */
}

.custom-modal .modal-content {
  background-color: black;
  color: white;
}

.custom-modal-header .btn-close {
  filter: invert(1); /* Makes the close button white */
}

.modal-content {
  background-color: black;
  color: white;
}

.btn-close {
  background-color: white;
}

.custom-placeholder::placeholder {
  color: white; /* Set placeholder text color to white */
  opacity: 1; /* Ensure the placeholder is fully opaque */
}
