.otp {
  background: linear-gradient(135deg, cyan, blue);
  border: none;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  width: 100px;
  transition: all 0.5s ease-in-out;
  font-family: "fantasy";
  box-shadow: 0 0 8px rgb(145, 144, 146);
}

.otp:hover {
  background: linear-gradient(135deg, blue, cyan);
  width: 50%;
}
