.card {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 8px rgb(145, 144, 146);
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: auto;
}

.card img {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.card-body h5 {
  font-weight: bold;
  font-family: Arial;
}

.card-footer {
  box-shadow: 0 0 8px rgb(81, 80, 82);
  background: linear-gradient(135deg, blue, cyan);
  color: #ffffff;
}

.card-footer p {
  font-weight: bold;
}
