<h1>Reset-Password</h1>

<%
if(typeof error!=='undefined'){
    %>
    <h3 style="color:red;"><%=error%></h3>
    <%
}
%>


<form action="reset-Password?token=<%= resetData.token%>" method="POST">
    <input type="hidden" name="user_id"  value="<%=resetData.user_id %>">
    <input typr="password",name="password"  required placeholder="new password">
    <br><br>
    <input typr="password",name="c_password"  required placeholder="confirm password">
    <br><br>
    <input type="submit" value="Reset Password">
</form>

